<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title><%= projectDefault.title %></title>
    <meta name="keywords" content="<%= projectDefault.keywords %>">
    <meta name="description" itemprop="description" content="<%= projectDefault.description %>">
    <link href="/images/favicon.ico" rel="Shortcut Icon">
    <%- include('common-css') %>
    <%- include('common-js') %>
</head>
